*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* &*&*&*&*&*&*&*&*&*& HEADER - INICIO *&*&*&*&*&*&*&*&*&* */
nav{
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.4s;
}

.linha{
  border-right: 2px solid white;
  padding: 0 1em 0 1em;
}

#linha-contato{
    padding: 0 0 0 1em;
}

#teste{
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.4s;
  padding-bottom: 13em;
  height: 0;

}


#teste #go {
  transition: 0.4s;
}


#go{
  display: flex;
  list-style-type: none;
  font-size: 1.3em;
    height: 2.5em;
    align-items: center;
    justify-content: flex-start;
    color:white;
    padding: 1em;
    border: 2px solid white;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
                  margin: 1em 0.5em 0 0;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.4s;
    
  }


#logo{
    height: 10em;
    margin: 15px 0 0 45px;
    transition: 0.4s;
}
/* &*&*&*&*&*&*&*&*&*& HEADER - FIM *&*&*&*&*&*&*&*&*&* */

/* +=+=+=+=+=+=+=+=+=+ MAIN - INICIO +=+=+=+=+=+=+=+=+=+ */
#cardapio{
    background-color: #7D0093;
}

#cardapio h2{
  text-align: center;
}

.btn-group .button {
  background-color: rgb(29, 29, 29);
  border: 1px solid rgb(85, 85, 85);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.btn-group{
  display: flex;
  justify-content: space-around;
}


.btn-group, .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: ghostwhite;
  color: black;
}

#jef{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#jef p{
  font-size: 3em;
}

#comentario{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* &*&*&*&*&*&*&*&* SLIDESHOW - INICIO *&*&*&*&*&*&*&* */

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none; top: 0;}
img {vertical-align: middle; z-index: -1;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* &*&*&*&*&*&*&*&* SLIDESHOW - FIM *&*&*&*&*&*&*&* */

/* #$#$#$#$##$##$#$##$ MEDIA - INICIO $##$#$#$#$#$##$#$# */
@media screen and (max-width: 580px) {
  #teste {
    padding: 20px 10px !important;
  }
}

@media only screen and (max-width: 300px) {
  .prev, .next{
    font-size: 11px;
  }
}
  /* #$#$#$#$##$#$#$# MEDIA - FIM #$#$#$#$#$#$#$##$ */
  
