<main>
<br>
<br>
<br>
<br>
        <div id="user">
            <p>
                <img src="~/img/usuario.png" alt="" style="width: 200px; height: 200px">
            </p>
            <p id="p2">
                ADM
            </p>
        </div>
<br>
<br>
<br>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Eventos de usuários</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Informações pessoais</button>
        </div>
        
        <div id="London" class="tabcontent">
            <h2>Dashboard</h2>

            <section id="status-pedidos">
                <h3>Status dos pedidos</h3>
                <div id="painel">
                    <div class="box-status-pedidos aprovados">
                        <h4>Aprovados</h4>
                        <p>3</p>
                    </div>
                    <div class="box-status-pedidos pendentes">
                        <h4>Pendentes</h4>
                        <p>3</p>
                    </div>
                    <div class="box-status-pedidos reprovados">
                        <h4>Reprovados</h4>
                        <p>3</p>
                    </div>
                </div>
            </section>
    
            <section id="lista-pedidos">
                <h3>Lista de pedidos</h3>
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Nome</th>
                            <th rowspan="2">Tipo de evento</th>
                            <th colspan="2">Adicionais</th>
                            <th colspan="2" rowspan="2">Aprovar</th>
                        </tr>
                        <tr>
                            <th><i class="fas fa-hamburger"></i></th>
                            <th><i class="fas fa-mug-hot"></i></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <p>Eventos registrados no último dia</p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Cesar Sportore</td>
                            <td>Social</td>
                            <td>Luz</td>
                            <td>Sem som</td>
                            <td><a href="#"><i class="fa fa-check"></i></a></td>
                            <td><a href="#"><i class="fa fa-times"></i></a></td>
                        </tr>
                        <tr>
                            <td>Alexandre Fukaya</td>
                            <td>Corporativo</td>
                            <td>Luz</td>
                            <td>Som</td>
                            <td><a href="#"><i class="fa fa-check"></i></a></td>
                            <td><a href="#"><i class="fa fa-times"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        
        
        
        <div id="Tokyo" class="tabcontent">
        <h3>Informações pessoais</h3>
        <br>
        <br>
        <p>DADOS DO USUÁRIO</p>
        </div>
<br>
<br>
<br>
<hr>
</main>

