@{
    ViewData["Title"] = "Home Page";
}

<!-- &*&*&*&*&*&*&*&*&*& MAIN - INICIO *&*&*&*&*&*&*&*&*&* -->
<main>
    <div>
    <div class="slideshow-container">
        <div class="mySlides1">
        <img src="img/banner_batizado2.jpg" style="width:100%" height="960px">
        </div>

        <div class="mySlides1">
        <img src="img/banner_casamento2.jpg" style="width:100%" height="960px">
        </div>

        <div class="mySlides1">
        <img src="img/banner_corporativo.jpg" style="width:100%" height="960px">
        </div>

        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>

    <div class="slideshow-container">
        <div class="mySlides2" id="scroll">
        <img src="img/1.jpg" style="width:100%" height="960px">
        </div>

        <div class="mySlides2">
        <img src="img/2.jpg" style="width:100%" height="960px">
        </div>

        <div class="mySlides2">
        <img src="img/3.jpg" style="width:100%" height="960px">
        </div>

        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
    </div>
    <div id="cardapio">
    <br>
    <h2>Cardápio de eventos</h2>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="btn-group">
        <a href="social.html"><button class="button">Social</button></a>
        <a href="casamento.html"> <button class="button">Casamento</button></a>
        <a href="universitario.html"><button class="button">Universitário</button></a> 
        <a href="corporativo.html"> <button class="button">Corporativo</button></a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <h2>Feedback</h2>
    <br>
    <br>
    <br>
    <div id="jef">
        <div>
        <p><img src="img/user.png" alt=""> Jeferson Silva</p>
        </div>
        <div class="none">
        <p><img src="img/user.png" alt=""> Jeferson Silva</p>
        </div>
        <div class="none">
        <p><img src="img/user.png" alt=""> Jeferson Silva</p>
        </div>
    </div>

    <div id="comentario">
        <div>
        <textarea readonly name="1" id="" cols="30" rows="5"
            placeholder="Depoimento">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi nobis quas blanditiis facere, quia vitae temporibus officia sequi soluta illo aliquam est doloribus. Vel doloribus quas hic. Fugit, iure?</textarea>
        </div>
        <div class="none">
        <textarea readonly name="1" id="" cols="30" rows="5"
            placeholder="Depoimento">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi nobis quas blanditiis facere, quia vitae temporibus officia sequi soluta illo aliquam est doloribus. Vel doloribus quas hic. Fugit, iure?</textarea>
        </div>
        <div class="none">
        <textarea readonly name="1" id="" cols="30" rows="5"
            placeholder="Depoimento">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi nobis quas blanditiis facere, quia vitae temporibus officia sequi soluta illo aliquam est doloribus. Vel doloribus quas hic. Fugit, iure?</textarea>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="feed-buttom">
    <button class="button-feedback" onclick="openForm()"><span>Deixe seu Feedback</span></button>
    </div>
    </div>
    <hr>

</main>
<!-- &*&*&*&*&*&*&*&*&*& MAIN - FIM *&*&*&*&*&*&*&*&*&* -->
