    <main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <h1>Social</h1>
<br>
<br>
        <div id="social">
        <img src="~/img/Festa-1.png" alt="Evento Social">
        </div>
<br>
<br>
    <div id="feed-buttom">
    <button class="button-feedback" onclick="openForm()"><span>Faça o seu Rolê</span></button>
    </div>
<br>
<br>
<hr>
        </main>